<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="https://learn.village88.com/assets/black_ninja-9adea777014ced1d5d36046555cf036c.ico?v=2" type="image/x-icon">
        <link rel="stylesheet" href="/stylesheets/result.css">
        <script src="https://kit.fontawesome.com/929adf1879.js" crossorigin="anonymous"></script>
        <title>Village88 | NodeJS (Express) | Result</title>
    </head>
    <body>
        <section>
            <div class="form_data">
                <h4>Submitted Information</h4>
                <p>Name:</p>
                <p class="form_value"><%= data.name %></p>
                <p>Dojo Location:</p>
                <p class="form_value"><%= data.dojo_location %></p>
                <p>Favourite Language:</p>
                <p class="form_value"><%= data.fave_language %></p>
                <p class="comment">Comment:</p>
                <p class="form_value"><%= data.comment %></p>
                <a href="/">Go back</a>
            </div>
        </section>
    </body>
</html>